In [0]:
-- Create a table
CREATE TABLE IF NOT EXISTS employees (
    employee_id INT PRIMARY KEY,
    first_name VARCHAR(50),
    last_name VARCHAR(40),
    hire_date DATE,
    salary DECIMAL(11,2)
);

-- Insert data
INSERT INTO employees VALUES 
(1, 'John', 'Smith', '2023-01-15', 65000.00),
(2, 'Mary', 'Johnson', '2023-03-20', 72000.00),
(3, 'David', 'Brown', '2023-06-10', 58000.00);

-- Select data with conditions
SELECT first_name, last_name, salary
FROM employees
WHERE salary > 70000
ORDER BY salary DESC;

-- Update data
UPDATE employees
SET salary = salary * 1.1
WHERE hire_date < '2023-04-01';

-- Delete data
DELETE FROM employees
WHERE employee_id = 3;

Alter table to add a new column
ALTER TABLE employees
ADD email VARCHAR(100) DEFAULT 'none@company.com';